/* Change logo according to page body class. */
.page-beretninger-hans-knudsens-plads .logo img,
.taxonomy-hans-knudsens-plads .logo img {
  content: url('/sites/all/themes/campo_foundation/img/Center_Campo_Hans_knudsen_RGB.png');
} 
.page-beretninger-bofaellesskaberne .logo img,
.taxonomy-bofaellesskaberne-i-campo .logo img {
  content: url('/sites/all/themes/campo_foundation/img/Center_Campo_bofaellesskaberne_RGB.png');
}
.page-beretninger-kysten .logo img,
.taxonomy-kysten .logo img {
  content: url('/sites/all/themes/campo_foundation/img/Center_Campo_kysten_RGB.png');
}
.page-beretninger-pallesvej .logo img,
.taxonomy-pallesvej .logo img {
  content: url('/sites/all/themes/campo_foundation/img/Center_Campo_pallesvej_RGB.png');
}

/* End of change logo */
.views-field-field-file ul li {
  list-style: none;
  margin: 0;
  line-height:1.2;
  padding-bottom: 10px;
}

#navTop .right li.first a {
  background: url('../img/home.png') no-repeat 80% 50%;
  background-size: 100% 80%;
}
#navTop .right li.first a:hover,
#navTop .right li.first a.active,
#navTop .right li.first.expanded a:hover
#navTop .right li.first.leaf a:hover {
  text-decoration: none;
  color: #000 !important;
}
#node-119,
#node-40 {
  display: none;
}
.view-afdelinger-adresse .views-field-nothing {
  display: none;

}

.active .flex-control-paging li a {
  width: 15px;
  height: 15px;
  background: #fff;
}
.active .flex-control-paging li a.flex-active,
.active .flex-control-paging li a:hover { 
  background: #666;
}

.active .flex-control-paging li {
  padding-right: 5px;
}
.flex-control-paging {
  top: 5px;
  z-index: 800;
  bottom: 300px;
}
.laes_mere {
  color: #000;
  float: right;
  position: relative;
  padding-right: 15px;
  background: url('../img/arrow_accordion_black.png') no-repeat 105% 50%;
  background-size: 20% 70%
}
.highlight {
  position : relative;
}

#navTop .dropdown {

  display : none;
}

#block-block-7 {
  position : relative;

}

p {
  -ms-word-break:break-all; 
   word-break: normal; /* Non standard for webkit */ 
   word-break: normal; 
   -webkit-hyphens: auto; 
   -moz-hyphens: auto; hyphens: auto;

}
.page-beretninger-alle #filter-reports .row .large-3 p { display: none;}
#navTop .dropdown li {
  display : none;

}
.accordion_list_item li {
  position : relative;
 
}
.video_playIcon img {
  display : block;
  margin : 0 auto;
  max-width : 20%;
}
.view-video-list-p-videounderside .video_playIcon img {
  max-width: 10%;
}
.video_icon_text {
  line-height:0;
  position : relative;
}
#video_text {
  position : absolute;
  top: 40%;
  width : 100%;
}

#video_text_2 {
  position : absolute;
  bottom: 10%;
  width : 100%;
}


#flexslider-1 img, object, embed {

  height : auto;

}
#flexslider-1 {
/*  height : 450px;
  overflow : hidden; 
*/
}
.carousel-bg {
 background : #dbd7cc;
}

.topsliderposition {
  position : relative;

}


.bostedContentSlider .item-list ul li {
  margin:0;
}

#block-menu-block-2  ul li,
#block-menu-block-3  ul li {
  display : block;
  
}
#block-menu-block-2 ul li a,
#block-menu-block-3  ul li a {
  color: #ffffff;

}
#block-menu-block-2 .menu ul li,
#block-menu-block-2 .menu ul li {
/*  padding-top : 100px;*/
  margin: 0 0 0.4375em 0;
  font-size: 0.875em;
}

.video_carousel_text {
  font-size: 0.9em;
  line-height: 1.3em;
  font-family: inherit;
  margin-top : 10px;
}

/* breakpoint 768px, mobile landscape */
@media screen and (max-width: 48em) { 
  .view-video-list-p-videounderside .video_playIcon img {
    max-width: 20%;
  }
  #featured-text {
    display :  none;
  }

  #video_text {
    position : relative;
    bottom: 0;
  }
  #video_text_2 {
    position : relative;
    bottom: 0;
  }
  #video_text img {
    display : none;
  }

  #video_playIcon_small {
     position : absolute;
     top : 30%;
     width : 100%;
  }
  
  .video_carousel_text {
     display : none;
  } 

  #topSlider, #topSlider.flex-direction-nav a {
     display : none;
  }
  .embedded-video iframe {
    width : 100%;

  }
  
  #overlay {
     display: block;
     width : 78%;
  }
  #navTop {
    float: left;
  }
  #navTop .dropdown li,
  #navTop .dropdown {
  *  display: block;
  }
  #subNavigation {display: none;}
  #googleMap iframe {
   height : 250px;
  }

  .ambassador_text {
    position: relative !important;
    bottom: 0;
  }

}
/*  breakpoint 768px table and PC desktop version */
@media screen and (min-width: 48em){
  #overlay {

   width : 700px;
  }
/*.embedded-video iframe {
    width : 100%;

  }*/
  .vision-lift { background: rgba(32,109,131, 0.75); padding: 20px; }
  .section-reports iframe,
  article .node iframe { margin: 0 auto; width: 100%}  
}

/* Breakpoint 769-1024 table.. */
@media screen and (min-width: 48.06em ) and (max-width: 64em) {
   #video_text_2 {
    position : absolute;
    bottom: 1%;
    width : 100%;
  }
  .video_playIcon img {
    width:10%;
  } 

}

/* Mobile */
@media screen and (min-width: 20em ) and (max-width: 25em) {
  .embedded-video iframe {
    width : 100%;
    height : auto;

  }
  .view-afdelinger-adresse .views-field-nothing {
    display: block;
    position: absolute;
    height: 200px;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 10%;
  }
  .section-map .sectionShadow {
    display: none;
  }
  #overlay {
    width : 70%;

  }
  #googleMap iframe {
   height : 250px;
  }
  #video_playIcon_small {
    top: 20% !important;
  }

}

@media screen and (max-width: 20em ) {
  #overlay {

     width : 65%;
  }

  .embedded-video iframe {
    width : 100%;
  }
   #googleMap iframe {
   height : 250px;
  }



}


  
.section-body {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 550px;
}

.show-for-smal img {
  width: 100%;

}
#vision {
  position: relative;
  padding-top: 0px;
  padding-bottom:0px;
}
#video_text h2 {
  font-size : 1.8em;
}

.ambassador_text {
  position: absolute;
  width: 100%;
  top: 15%;
}
.ambassador_text .large-6 {
  min-height: 230px;
}
.section-reports-filter {
  
}

#topslider450 {
  height: 450px;
  overflow: hidden;

}
#topslider450 .flex-direction-nav a {
  top:30%;

}

.field-name-field-adresse {
  overflow: hidden;
}
