
@charset "utf-8";
/* CSS Document */


body {overflow: hidden;}

.row.slider-topbox-content {width: 900px !important; min-width: 900px !important; margin: 0 !important; padding: 0 !important; }


.large-12.columns.blueGradient.gradient, .large-12.columns.greenGradient.gradient {width: 910px !important; min-width: 910px !important; overflow:hidden;}



.row.slider-topbox-content .large-8 {width: 470px !important; padding-left: 20px; padding-right: 10px; padding-top: 30px; padding-bottom: 30px;}
.row.slider-topbox-content .large-4 {width: 360px !important; float: right !important; padding:0; padding-right: 20px; padding-left: 10px; padding-top: 30px; padding-bottom: 30px;}

#main {margin:0 !important; padding:0 !important;}

/*
.hide-for-small {display: none !important; height:0 !important; padding:0 !important; margin:0 !important: }
*/
.top {position: relative !important;}
#navTop {position: absolute !important; left: 260px !important; top: 13px !important;}

.lt-ie9 #searchBox {width: 260px !important; position: absolute !important; right: 0; top: 30px; left: auto; padding: 0 !important;}
.lt-ie9 #searchBox .form-type-textfield {float: left; width: 200px; height: 33px; padding: 0 !important;  margin: 0 !important;}
.block-search-form {margin:0 !important;}
#edit-search-block-form--4, #edit-search-block-form--2 {height: 14px !important;}
.lt-ie9 #searchBox .form-submit {float: right !important; width: 60px !important; height: 30px;}

.lt-ie9 #searchBox .form-submit:active {border: 1px solid red;}

.form-text {margin-left: 0 !important; width: 200px !important;}

button {outline: none !important;}

.lt-ie9 #slider-swoosh {display: block !important;}
.lt-ie9 #slider-swoosh img {margin-left: -8px;}
.lt-ie9 #featured #slider-swoosh img {margin-left: 0;}

.leftside {width: 170px !important; margin-bottom: 30px; margin-left: -15px; /*position: absolute; top: 0; left: 0; z-index: 999;*/}
	.side-nav {margin-left: -15px;}
	.side-nav li {margin-left: 0; padding-left: 0;}
	.side-nav a {width: 155px; display: block;}
	
	.sideWrapper {margin-left: -15px; width: 170px; padding-right: 25px; }
	.sideMenuHolder {width: 160px;}
	
article {}
aside { width: 170px !important; float: right; padding-left: 15px;}

.contentvideo {margin-top: 60px;}

p a.head {border-bottom: 1px solid #ffffff;}

.ambassadorContent {min-height: 200px; height: 200px; overflow:inherit;}
.ambassadorContent div {padding: 20px; min-height: 200px; height: 200px;overflow:inherit;}

.video_icon_text {margin-bottom: -10px !important;}

.sideMenuHolder {background: rgb(0,103,127) !important;}
.contentvideo {background: #fff !important:}


.highlight {overflow: hidden !important;}



#backtotop {right: 20px; bottom: 20px;}


.lt-ie9 .reportListContent {
	margin-bottom: 10px;	
	}
	
.lt-ie9	.reportsList {
	margin-left: -10px;	
	}
	
.lt-ie9 #report-viewer-content {
	margin-right: 8px;	
	}
	
.lt-ie9 #close-reportContent {
	right: 40px;	
	}
	
.lt-ie9 .ambassadorContent {
	background: #FFF;	
	}
	
.lt-ie9	.vision-lift {
	background: rgb(32,109,131);
	padding: 20px;
	margin-top: 30px;
}


.lt-ie9	.flex-control-paging li {border: none;}

.lt-ie9 .show-for-small {display: none !important;}


.lt-ie9 header .row {width: 100% !important; max-width: 100%; min-height: 80px;}




.lt-ie9 .cf:before,
.lt-ie9 .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.lt-ie9 .cf:after {
    clear: both;
}


.lt-ie9 .row.collapse .small-2 {width: 16.66667%;}
.lt-ie9 .row.collapse .small-10 {width: 83.33333%;}



/* The Grid ---------------------- */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
 
.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }
 
.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }
 
.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }
 
.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }
 
.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }
 
.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }
 
.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }
 
.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }
 
.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }
 
.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }
 
.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }
 
.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }
 
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }
 
.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }
 
.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }
 
.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }
 
/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }
 
 



/* Small Block Grids */
.lt-ie9 .large-block-grid-2 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-2 li {
    float: left;
    width: 50%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-2 li:first-child+li {
    float: right
}
 
.lt-ie9 .large-block-grid-2 li:first-child+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-3 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-3 li {
    float: left;
    width: 33.3333%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-3 li:first-child+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-3 li:first-child+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-4 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-4 li {
    float: left;
    width: 25%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-4 li:first-child+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-4 li:first-child+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-5 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-5 li {
    float: left;
    width: 20%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-5 li:first-child+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-5 li:first-child+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-6 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-6 li {
    float: left;
    width: 16.6667%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-6 li:first-child+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-6 li:first-child+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-7 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-7 li {
    float: left;
    width: 14.2857142%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-7 li:first-child+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-7 li:first-child+li+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-8 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-8 li {
    float: left;
    width: 12.5%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-8 li:first-child+li+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-8 li:first-child+li+li+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-9 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-9 li {
    float: left;
    width: 11.111111%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-10 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-10 li {
    float: left;
    width: 10%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-11 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-11 li {
    float: left;
    width: 9.0909%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    clear: both
}
 
.lt-ie9 .large-block-grid-12 {
    list-style: none
}
 
.lt-ie9 .large-block-grid-12 li {
    float: left;
    width: 8.333333%;
    padding: 0 10px 10px;
}
 
.lt-ie9 .large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    float: right
}
 
.lt-ie9 .large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li+li {
    clear: both
}








#main {margin:0 !important; padding:0 !important;}


#searchBox {width: 250px !important; overflow: hidden;}
#navTop {width: 350px;}

.ccAccordion.blue .title {
	background: rgb(0,103,127);
}

.ccAccordion.green .title {
  background: rgb(135,177,1);
}
.shortcuts {width: 1020px; text-align:center; margin: 0 auto;}
.shortcuts li {width:235px !important;}


#showAmbassadors-morebutton, #showAmbassadors-lessbutton {
	position: absolute;
	bottom: 20px;
	right: auto;
	left: auto;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
}

#showAmbassadors-morebutton img, #showAmbassadors-lessbutton img {width:60px;height: 60px;}
#showAmbassadors-lessbutton img {display: none;}

#pictures-carousel img {
	max-height: 200px;
	}
	
.view-video-list-p-videounderside .video_playIcon img {
	width: 102px; height: 68px;
}	
.body.field {padding-bottom: 30px;}

/*#topslider450 {height: 350px;}*/


.lt-ie9 .hide-for-small {display: block !important;}

.lt-ie9 #slider-swoosh {display: block !important;}

.lt-ie9 #slider-swoosh img {margin-left: -8px;}
.lt-ie9 #featured #slider-swoosh img {margin-left: 0;}


.lt-ie9 #searchBox .form-text {float: left; width: 75%; margin-left: 5%;}
.lt-ie9 #searchBox .form-submit {float: left; width: 20%;}


.lt-ie9	.reportsList {
	margin-left: -10px;	
	}

.lt-ie9 .reportsList li {width: 220px !important;}

.lt-ie9 .reportsList li .reportListContent {
	margin-bottom: 10px;
	min-height: 0;	
	height:	235px !important; 
	
	width: 180px !important;

	
	}
	

	
.lt-ie9 #report-viewer-content {
	margin-right: 0px;	
	}
	
	.lt-ie9 #report-viewer-content .large-4 {width: 200px;}
.lt-ie9 #report-viewer-content .large-8 {float: right;}
	
.lt-ie9 #close-reportContent {
	right: 40px;	
	}
	
.lt-ie9 .ambassadorContent {
	background: #FFF;	
	}
	
.lt-ie9	.vision-lift {
	background: rgb(32,109,131);
	padding: 20px;
	margin-top: 30px;
}


.lt-ie9	.flex-control-paging li {border: none;}







#navTop {}


.lt-ie8 #navTop .right li.first {
	display: block;
	width: 26px;
	height: 16px;

}
.lt-ie8 #navTop .right li.first a {
	background: red url('../img/minicc.png') no-repeat 0 0;
	/*background-size: 100% 80%;*/
	text-indent: -9999px;
	color: transparent;
	display: block;
	width: 26px;
	height: 16px;
	background-color: transparent;
}


.lt-ie8 article {padding-bottom: 100px;}
.lt-ie8 #accordion .overlay {cursor: pointer;}
.lt-ie8 .mapDetails.greenGradient {background: #87b101;}
.lt-ie8 .mapDetails.greenGradient .large-6 {float: right; width: 40%;}
.lt-ie8 .mapDetails.greenGradient p {padding: 0;}
